*{
	font-family: "Montserrat"!important;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/**header**/
.img-logo img{
	max-height: 100%;
	max-width: 100%;
}

.img-logo {
	width: 100%;
}

header {
	background: rgba(0, 0, 0, 0.38);
	position: fixed;
	width: 100%;
	z-index: 1;
}

.own-navbar-right{
	padding: 28px 0px;
    font-size: 25px;
    
}

.own-navbar-right a {
	color: black;
}

/**.own-nav {
	position: fixed;
	display:block;
	background-color: #333;
	top: -10px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}**/



/**header {
	position: fixed;
}
/**body**/

.banner1 img {
	max-width: 100%;
	max-height:100%;
}

.banner1 {

}

.contbanner {
	width: 100%;
	position: relative;
	top: 0px;
	z-index: -1;

}

.fotohomepage {
	background: url("/imagenes/walloomBanner.png") no-repeat center fixed;
	background-size: cover;
	width:100%; 
	height:583px;
}

.fotohomepage, h2, h3, p{
	text-align: center;
	margin: 0px!important;
}

.textos {
	position: relative;
	top: 50%;
	text-transform: uppercase;
	color: white;
}

.textos h2 {
	font-size: 28px;
	font-weight: bold;
    margin: 0px;
}

.textos h3 {
	font-size: 23px;
	font-weight: bold;
}

.textos p {
	font-size: 15px;
	color: white;


}

.textos p:hover{
background-color: #55d4ca	;
}

.parrafo {
	display: inline-block;

}

.parrafo1 p {
	text-align: center;
	font-size: 23px;
	 

}



.parrafo1 {
	border: 1px solid black;
    text-align: center;
    padding: 20px;
    height: 366px;
    background: gray;
    display:table-cell;
	vertical-align: middle;
}

.parrafo2-3 section {
	display: inline-block;
	position: relative;
	
	height: 366px;
}

.parrafo2-3 h2 {
line-height: 60px;
position: relative;
}

.parrafo2-3 button {
text-align: center;
display: inline-block;
}

.contacto {
	width: 100%;
	height: 300px;
	background-color: #55d4ca;

}

#fotocontact {
	background:url("/imagenes/contc.jpg") no-repeat;
	max-width: 56%;
	height: 161px;
	position: relative;
	top: 100px;
	left: 293px;
	margin: 0px;
}

.contacto p {
	color: white;
	position: relative;
    top: 45%;
    font-weight: bold;

}

.contacto h2 {
	color: #243f82;
	position: relative;
	top: 45%;
	font-weight: bold;
}

/**testimonies**/




/**footer**/
footer {
	width: 100%;
	background-color: #222;
	color: white;	
	text-align: center;
	display: inline-block;
	 height: 100px;
    display:table-cell;
	vertical-align: middle;
}

.text-footer {
	width: 100%;
    height: 100px;
}

/**contact us box**/
.contact-us .content .message {
    width: 401px;
    height: 396px;
    background-color: #ffffff;
    margin: 42px 46px 42px auto;
    position: relative;
    top: -246px;
    padding: 18px 40px 34px;
   
	}



/***responsive**/

/***medium***/
@media (min-width:769px) and (max-width:960px ) {
	#fotocontact {
	background:url("/imagenes/contc.jpg") no-repeat;
	max-width: 93%;
	height: 161px;
	position: relative;
	top: 100px;
	left: 27px;
	margin: 0px;
	}
	
}

/**small-size**/

@media (min-width:576px) and (max-width:768px ){

	#fotocontact {
	background:url("/imagenes/contc.jpg") no-repeat;
	max-width: 79%;
	height: 161px;
	position: relative;
	top: 100px;
	left: 57px;
	margin: 0px;
	}
}

/**extra-small-size**/

@media (min-width:417px) and (max-width:578px ){

	#fotocontact {
	background:url("/imagenes/contc.jpg") no-repeat;
	max-width: 92%;
	height: 161px;
	position: relative;
	top: 100px;
	left: 17px;
	margin: 0px;
	}
}
